# This is for clang-format >= 9.0.
#
# clang-format --version
# clang-format version 9.0.1 (Red Hat 9.0.1-2.module+el8.2.0+5494+7b8075cf)
#
# See: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Some parameters will change with version.
---
Language: Cpp
# WebKit-based style, https://www.webkit.org/coding/coding-style.html
BasedOnStyle: WebKit

# The following options are sorted alphabetically

# public/protected/private Not indented
AccessModifierOffset: -4
# Unified line breaks if parameters are too long
AlignAfterOpenBracket: AlwaysBreak
# clang-format >= 13 required, map and other internal column alignment
# AlignArrayOfStructures: Left
# Line breaks are unified on the far right of ColumnLimit
AlignEscapedNewlines: Right
# Single line of short code blocks is not allowed, that is, single line of code is not allowed: if (x) return;
AllowShortBlocksOnASingleLine: false
# Only single rows of Inline functions are allowed
AllowShortFunctionsOnASingleLine: Inline
# Template declaration line break
AlwaysBreakTemplateDeclarations: Yes
# Open left brackets without line breaking
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  # BraceWrappingAfterControlStatementStyle: MultiLine
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
# When constructor initialization, the line break before `,`, and `:` are aligned neatly
BreakConstructorInitializers: BeforeComma
# When inheriting too long, it is also before `,`
BreakInheritanceList: BeforeComma
# Column width 160
ColumnLimit: 160
# c++11 Start/end without spaces in brackets, false will be added
Cpp11BracedListStyle: false
# The comment after the namespace will be corrected to: // namespace_name
FixNamespaceComments: true

# switch case indentation
IndentCaseLabels: true
# Allow single line case
AllowShortCaseLabelsOnASingleLine: true

# clang-format >= 13 required, the internal indentation level of the lambda function is consistent with the external, and the default is to add a first-level indentation.
# LambdaBodyIndentation: OuterScope
# Namespace not indented
NamespaceIndentation: None
# PPIndentWidth: 2
# */& Close to the variable, lean to the right
PointerAlignment: Right
# c++11 Add spaces to the variable when using {}
SpaceBeforeCpp11BracedList: true
# Inheritance `:` before space
SpaceBeforeInheritanceColon: true
# () No spaces are added before, except do/for/if/switch/while
SpaceBeforeParens: ControlStatements
# Empty {} without spaces
SpaceInEmptyBlock: false
Standard: C++11
# Tab is 4
TabWidth: 4
# Don't use TAB
UseTab: Never
---
Language: Java
---
Language: JavaScript
...
