[submodule "S3ToolKit"]
	path = 3rdpart/S3ToolKit
	url = https://github.com/lightingbro46/S3ToolKit.git
	branch = develop
[submodule "3rdpart/media-server"]
	path = 3rdpart/media-server
	url = https://gitee.com/ireader/media-server
[submodule "3rdpart/jsoncpp"]
	path = 3rdpart/jsoncpp
	url = https://gitee.com/mirrors/jsoncpp.git
[submodule "www/webassist"]
	path = www/webassist
	url = https://github.com/lightingbro46/s3m_webassist.git
[submodule "3rdpart/jwtcpp"]
	path = 3rdpart/jwtcpp
	url = https://github.com/Thalhammer/jwt-cpp.git
