#ifdef APSTUDIO_INVOKED
#error "This file is not editable by Visual C++."
#endif //APSTUDIO_INVOKED

#include "winres.h"

#if defined(ENABLE_VERSION)
#include "S3MVersion.h"
#endif

#define S3M_VERSION 8,0,0,1

// Splicing BRANCH_NAME and COMMIT_HASH, for example master -1c8ed1c
#define COMMIT_HASH_BRANCH_STR BRANCH_NAME " - " COMMIT_HASH 

IDI_ICON1 ICON DISCARDABLE "www//logo.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION S3M_VERSION
 PRODUCTVERSION S3M_VERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Applied Viettel Solutions Software"
            VALUE "FileDescription", "This file is part of the C++ S3M"
            VALUE "FileVersion", COMMIT_HASH_BRANCH_STR
            VALUE "InternalName", COMMIT_HASH_BRANCH_STR
            VALUE "LegalCopyright", "Copyright (c) 2025-present The S3MediaKit project authors"
            VALUE "ProductName", "S3MediaKit"
            VALUE "ProductVersion", COMMIT_HASH_BRANCH_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
